<main class="main">
  <div class="content">
    
    <div class="img"></div>

    <p class="title">
      Equilibrium #3429
    </p>

    <p class="info">
      Our Equilibrium collection promotes
      balance and calm.
    </p>

    <div class="detail">
      <div class="value">
        <div class="icon"></div>
        <span class="count">0.041 ETH</span>
      </div>

      <span class="day">
        <div class="clock"></div>
        <span>3 days left</span>
      </span>
    </div>

    <hr />

    <div class="owner">
      <div class="user-img"></div>

      <span class="name">Creation of
        <span>
          Jules Wyvern
        </span>
      </span>
    </div>

  </div>
</main>

<router-outlet />
